<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
     <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>VVA Lab</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" /> -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" /> -->
    <!-- CSS Files -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/assets/css/demo.css" rel="stylesheet" />

    <link rel="stylesheet" href="/css/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- <script
      src="https://code.jquery.com/jquery-3.1.1.js"
      integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
      crossorigin="anonymous"></script> -->

      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>

        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
          integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
          crossorigin=""></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw-src.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw-src.css"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw-src.map"></script>
<!-- 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/images/layers-2x.png"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/images/layers.png"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/images/marker-icon-2x.png"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/images/marker-icon.png"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/images/marker-shadow.png"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/images/spritesheet-2x.png"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/images/spritesheet.png"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/images/spritesheet.svg"></script> -->
        


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
    <script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>

    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <style>

      @media screen  and (min-width: 980px) and (max-width:1199px) {
        #mapid{
          margin-top:0%;
          height:380px;
          width:692px;
        }

        p.rkmak{

           font-size: 50%
        }

        h6.mk{

           font-size:45%;
        }
        #mapper{

          height:90%;
        }

        body{height:100%}
        #dash{

            height:10%;
            left:10%;
        }
        #bt{
            left:5%;

        }

        .content{

          height:84%;
        }
      }


      @media screen  and (min-width: 1200px) and (max-width:1399px) {
        #mapid{
          margin-top:0%;
          height:640px;
          width:972px;
        }

        p.rkmak{

           font-size: 50%
        }

        h6.mk{

           font-size:50%;
        }
        #mapper{

          height:90%;
        }

        body{height:100%}
        #dash{

            height:10%;
            left:10%;
        }
        #bt{
            left:5%;

        }

        .content{

          height:84%;
        }
      }


      @media screen  and (min-width: 2000px) and (max-width:2050px) {
        #mapid{
          margin-top:0%;
          height:840px;
          width:1672px;
        }

        p.rkmak{

           font-size: 75%
        }

        h6.mk{

           font-size:70%;
        }
        #mapper{

          height:90%;
        }

        body{height:100%}
        #dash{

            height:10%;
            left:10%;
        }
        #bt{
            left:5%;

        }

        .content{

          height:84%;
        }
      }

      @media screen  and (min-width: 1400px) and (max-width: 1629px) {
        #mapid{
          margin-top:0%;
          height:540px;
          width:1072px;
        }

        p.rkmak{

           font-size: 60%
        }

        h6.mk{

           font-size:40%;
        }
        #mapper{

          height:90%;
        }

        body{height:100%}
        #dash{

            height:10%;
            left:10%;
        }
        #bt{
            left:5%;

        }

        .content{

          height:84%;
        }
      }


      @media screen and (min-width: 1630px) and (max-width:1999px) {
        #mapid{
          margin-top:0%;
          height:770px;
          width:1472px;
        }

        p.rkmak{

           font-size: 75%
        }

        h6.mk{

           font-size:75%;
        }
        #mapper{

          height:90%;
        }

        body{height:100%}
        #dash{

            height:10%;
            left:10%;
        }
        #bt{
            left:5%;

        }

        .content{

          height:84%;
        }
      }

    @media screen and (min-width: 2051px) and (max-width:2330px) {
      #mapid{
        margin-top:0%;
        height:970px;
        width:1952px;
      }

      #mapper{

        height:90%;
      }

      body{height:100%}
      #dash{

          height:10%;
          left:10%;
      }
      #bt{
          left:5%;

      }

      .content{

        height:84%;
      }
    }


    @media screen and (min-width: 2340px) {
    #mapid{
      margin-top:0%;
      height:611px;
      width:1437px;
    }

    #mapper{

      height:90%;
    }

    body{height:100%}
    #dash{

        height:10%;
        left:10%;
    }
    #bt{
        left:5%;

    }

    .content{

      height:92%;
    }



  }
.pops {
    /* max-width: 200px; */
    height: 300px;
 }
  #custom-handle {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}

p {
  font: 20px helvetica;
}


.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */

before  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::  -webkit-user-select: none; /* Safari 3.1+ */

before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
}

      </style>
</head>
<script type="text/javascript">

 $(function() {
   $( "#slider" ).slider({
     value:2007,
     min: 2007,
     max: 2017,
     step: 1,
     animate: "slow",
     slide: function( event, ui ) {

       $("#custom-handle").text(ui.value);
       processor(ui.value);
     }
   });

   $("#custom-handle").text("2007");

   var toggler = document.getElementsByClassName("caret");
var i;

for (i = 0; i < toggler.length; i++) {

  toggler[i].addEventListener("mouseover", function() {
  		this.style="text-decoration: underline;";
  });
   toggler[i].addEventListener("mouseout", function() {
  		this.style="text-decoration: none;";
  });
  toggler[i].addEventListener("click", function() {
  	this.classList.style="text-decoration: underline";
    this.parentElement.querySelector(".nested").classList.toggle("active");
    this.classList.toggle("caret-down");
  });
}

 } );
 var toggler=false
 var iter;
 function clicker(){
     // $("#slider2").animate({
       toggler=!toggler
       if(!toggler){
           document.getElementById("control").src="/data/play.png";
           clearInterval(iter);

       }
       else{
         document.getElementById("control").src="/data/pause.png";
         iter = setInterval(setter,2000);
       }
       function setter(){

          //console.log(toggler)
          var value = $( "#slider" ).slider( "option", "value" );
          var value=value+1;
          if(value>2017){

             value=2007;
          }
          if(value==2017) {
             document.getElementById("control").src="/data/play.png";
             toggler=!toggler;
             clearInterval(iter);
          }
          $("#slider").slider("option","value",value);
          var handle = $( "#custom-handle" );
           handle.text(value)
           processor(value)

       }
     // },1000,function(){

     //       alert('completed');
     // });

   }
   var swi=true
   function switcher(chi)
   {
       
       swi=!swi;
       if(swi){
        chi.children[0].src="/data/plus.png";
        chi.value=1;
        //console.log($(chi).parent());

        //document.getElementById("ctl").src="/data/plus.png"
       }
       else{
         chi.value=-1;
         chi.children[0].src="/data/minus.png";
        //document.getElementById("ctl").src="/data/minus.png"
       }
       console.log(chi.value);
   }
   function generator(vals){
        
        var trans=[];
        trans.push(vals);
        var paramet = {param2: trans};
        $.get('/getRange',paramet,(result2)=>{


                //console.log(result2['max']);
                var ls='<div class=\"row\" >'
                var lds='<div class=\"col-md-6\">'
                var ds='<p class=\"ins\"style=\"position:relative;left:20px;top:6px;\" onclick=\"$(this).parent().parent().remove();\">'+vals+'</p></div>';
                var pds='<div class=\"col-md-5\" style=\"margin-top:0.35em;\">';
                var ps='<span class=\"font-weight-bold blue-text mr-2 mt-1\" style=\"float:left;font-size:12px;\">'+result2['min']+'</span><input onchange=\"exec(this)\" class=\"bins custom-range\" type=\"range\" min=\"'+result2['min']+'\" max=\"'+result2['max']+'\" step=\"1"\ value=\"'+(Math.trunc(result2['max']/2))+'\" style=\"width:80px;vertical-align:middle;\"/>' 
                var gs='<span class=\"spanner font-weight-bold blue-text ml-2 mt-1\" style=\"font-size:12px;\">'+result2['max']+'</span><input id="ex9" value=\"'+(Math.trunc(result2['max']/2))+'\" style="float:right;width:39px;"> </div>'
                var bds='<div class=\"col-md-1\" style=\"padding:unset;\">';
                var bs='<button class=\"butts\" value=1 onclick=\"switcher(this)\" style=\"position:relative;width: 30px; height: 20px; background-color: transparent; border: none;outline:none;\"><img src=\"/data/plus.png\" id=\"ctl\" style=\"width:20px; height:31px;\"/></button>';
                var ns='</div></div>'
                $('#graphic').append(ls+lds+ds+pds+ps+gs+bds+bs+ns)
        });
  
       

   }
    
   function exec(e){
        var rs=e.nextElementSibling;
        rs.nextElementSibling.value=e.value;
        console.log(e.value);
   }


   function caller(){
     var inse = document.getElementsByClassName("ins");
     var binse = document.getElementsByClassName("bins");
     var buttse = document.getElementsByClassName("butts");
     var bounds = document.getElementsByClassName("spanner");
     var res2=[]
     var sum=0;
    //  for(iter1=0;iter1<bounds.length;bounds++){
    //     sum=sum+(bounds[iter1].innerText);
    //  }
     console.log(sum);
     for(j=0;j<inse.length;j++){
        var temp=[]
        temp.push(inse[j].innerText)
        temp.push((binse[j].value)*buttse[j].value);
        res2.push(temp);
     }
     //console.log(res2);
     setter2(res2);
   }

</script>
<body>
    <div class="wrapper">
        <div class="sidebar" data-image="/assets/img/sidebar-5.jpg">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="javascript:;" class="simple-text">
                      Index
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item active">
                        <!-- <a class="nav-link" href="dashboard.html"> -->
                            <!-- <i class="nc-icon nc-icon nc-paper-2"></i> -->
                            <a href="#"><span class="nav-link" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">CRIME REPORT</span></a>
                        <!-- </a> -->
                    </li>
                    <li>

                    </li>

                    <!-- <li class="nav-item active active-pro">
                        <a class="nav-link active" href="javascript:;">
                            <i class="nc-icon nc-alien-33"></i>
                            <p>Upgrade plan</p>
                        </a>
                    </li> -->
                </ul>

                <div class="collapse" id="collapseExample">
                  <div class="modal-footer">
                    <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                    <button type="button" class="btn btn-primary" onclick="caller()" data-dismiss="modal" style="margin-left: 170px;">Generate</button>
                  </div>
                  <div class="card" style="margin-top:0.3em; background-color:#e2c6f1">
                    
                 
                     <div class="row" style="margin-left:2px;">

                      
                        
                        <ul id="myUL" style="color:black;">
                            <% Object.keys(values).forEach(function(ds){%>
                            <li ><span class="caret" style="text-transform: capitalize"><%=ds%></span>
                                  <ul class="nested">
                                    <%values[ds].forEach(function(ls){
                                        for(var key in ls) {
                                          if(key=="none"){
                                    %>
                                               <li id="drop" onmouseover="this.style='cursor:pointer'" onclick="generator($(this).text())"><%=ls[key]%></li>
                                        <%} else{%>
                                                <li><span class="caret"><%=key%></span>

                                                    <ul class="nested">
                                                      
                                                        <% ls[key].forEach(function(ks){%>
                                                            <li id="drop2" onmouseover="this.style='cursor:pointer'" onclick="generator($(this).text())"><%=ks%></li>
                                                        <%})%>
                                                    
                                                    </ul>

                                                </li>
                                        <%}%>
                                       
                                  <%}})%>
                                  </ul>
                            </li>
                            <%})%>
                        </ul>
                      
                      
                    </div>
                    <hr style="margin-bottom:0.3em;margin-top:0.3em"/>
                  
                </div>
              </div>
            </div>
        </div>

        <div class="main-panel">
            <!--  Navbar -->
            <nav class="navbar navbar-expand-lg " color-on-scroll="500">
                <div class="container-fluid">
                    <!-- <a class="navbar-brand" href="#pablo">Template</a>
                    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                        <span class="navbar-toggler-bar burger-lines"></span>
                    </button> -->
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        <ul class="nav navbar-nav mr-auto">
                            <li class="nav-item">
                                <a href="#" class="nav-link" data-toggle="dropdown">
                                    <!-- <i class="nc-icon nc-palette"></i> -->
                                    <span class="d-lg-block">Home</span>
                                </a>
                            </li>
                            <!-- <li class="dropdown nav-item">
                                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                    <i class="nc-icon nc-planet"></i>
                                    <span class="notification">5</span>
                                    <span class="d-lg-none">Notification</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Notification 1</a>
                                    <a class="dropdown-item" href="#">Notification 2</a>
                                    <a class="dropdown-item" href="#">Notification 3</a>
                                    <a class="dropdown-item" href="#">Notification 4</a>
                                    <a class="dropdown-item" href="#">Another notification</a>
                                </ul>
                            </li> -->
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nc-icon nc-zoom-split"></i>
                                    <span class="d-lg-block">&nbsp;Search</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#pablo">
                                    <span class="no-icon">Account</span>
                                </a>
                            </li>
                            <!-- <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="no-icon">Dropdown</span>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </li> -->
                            <li class="nav-item">
                                <a class="nav-link" href="/">
                                    <span class="no-icon">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content" >
                <div class="container-fluid" style="position:relative;top:-21px;">
                   
                      <div class="row">

                          <div class="col-md-3">
                              <div class="card" style="background-color:white;" id="graphic">

                              </div>
                         </div>
                        <div class="col-md-9">
                          <div class="row">


                                <div class="card" style="background-color:white;margin:unset;">
                                        <div id="scaler">
                                          <div class="row">
                                        <div class="col-sm-6"></div>
                                        <div class="col-sm-6">
                                          <div class="row">
                                                  <div class="col-sm-1"></div>
                                                  <div class="col-sm-11">
                                                    <div class="row">
                                                      <div class="col-sm-1"></div>
                                                      <div class="col-sm-1"><h6 class="mk">min</h6></div>
                                                      <div class="col-sm-1" style="background-color:#f7f4f9;"></div>
                                                      <div class="col-sm-1" style="background-color:#e7e1ef;"></div>
                                                      <div class="col-sm-1" style="background-color:#d4b9da;"></div>
                                                      <div class="col-sm-1" style="background-color:#c994c7;"></div>
                                                      <div class="col-sm-1" style="background-color:#df65b0;"></div>
                                                      <div class="col-sm-1" style="background-color:#e7298a;"></div>
                                                      <div class="col-sm-1" style="background-color:#ce1256;"></div>
                                                      <div class="col-sm-1" style="background-color:#980043;"></div>
                                                      <div class="col-sm-1" style="background-color:#67001f;"></div>
                                                      <div class="col-sm-1"><h6 class="mk">max</h6></div>
                                                    </div>
                                                  </div>

                                          </div>
                                        </div>
                                        </div>
                                        </div>
                                      <div id="mapid"></div>

                                      <div id="box">
                                            <div id="slider" style="width:1330px;left:71px;top:21px;position:relative;">
                                                <div id="custom-handle" class="ui-slider-handle"></div>

                                            </div>
                                            <button id="butt" onclick="clicker()" style="width: 52px; height: 30px;background-color: transparent;border: none;outline: none;  ">

                                                 <img src="/data/play.png" id="control" style="width:50px; height: 27px;"/>
                                            </button>

                                     </div>

                                      </div>
                                </div>
                                <div class="row">

                                    <div class="card" style="background-color:white;width:1437px;height:427px;position:relative;top:3px;">

                                      <div id="chart">
                                      </div>

                                    </div>

                                </div>




                         </div>
                         <div class="col-md-4">
                              <div class="card" style="background-color:white;" id="graphic">

                              </div>
                         </div>
                    <!-- <div style="background-color:red;">
                  </div> -->
                        </div>
                     <!-- </div> -->
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <!-- <ul class="footer-menu">
                            <li>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Company
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Portfolio
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Blog
                                </a>
                            </li>
                        </ul> -->
                        <p class="copyright text-center">
                            ©
                            <script>
                                document.write(new Date().getFullYear())
                            </script>
                            Visual Analytics and Visualization Lab
                        </p>
                    </nav>
                </div>
            </footer>
        </div>
    </div>
    <!--   -->
    <!-- <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
        <a href="#" data-toggle="dropdown">
            <i class="fa fa-cog fa-2x"> </i>
        </a>

        <ul class="dropdown-menu">
			<li class="header-title"> Sidebar Style</li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger">
                    <p>Background Image</p>
                    <label class="switch">
                        <input type="checkbox" data-toggle="switch" checked="" data-on-color="primary" data-off-color="primary"><span class="toggle"></span>
                    </label>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="adjustments-line">
                <a href="javascript:void(0)" class="switch-trigger background-color">
                    <p>Filters</p>
                    <div class="pull-right">
                        <span class="badge filter badge-black" data-color="black"></span>
                        <span class="badge filter badge-azure" data-color="azure"></span>
                        <span class="badge filter badge-green" data-color="green"></span>
                        <span class="badge filter badge-orange" data-color="orange"></span>
                        <span class="badge filter badge-red" data-color="red"></span>
                        <span class="badge filter badge-purple active" data-color="purple"></span>
                    </div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li class="header-title">Sidebar Images</li>

            <li class="active">
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-1.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-3.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="..//assets/img/sidebar-4.jpg" alt="" />
                </a>
            </li>
            <li>
                <a class="img-holder switch-trigger" href="javascript:void(0)">
                    <img src="../assets/img/sidebar-5.jpg" alt="" />
                </a>
            </li>

            <li class="button-container">
                <div class="">
                    <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard" target="_blank" class="btn btn-info btn-block btn-fill">Download, it's free!</a>
                </div>
            </li>

            <li class="header-title pro-title text-center">Want more components?</li>

            <li class="button-container">
                <div class="">
                    <a href="http://www.creative-tim.com/product/light-bootstrap-dashboard-pro" target="_blank" class="btn btn-warning btn-block btn-fill">Get The PRO Version!</a>
                </div>
            </li>

            <li class="header-title" id="sharrreTitle">Thank you for sharing!</li>

            <li class="button-container">
				<button id="twitter" class="btn btn-social btn-outline btn-twitter btn-round sharrre"><i class="fa fa-twitter"></i> · 256</button>
                <button id="facebook" class="btn btn-social btn-outline btn-facebook btn-round sharrre"><i class="fa fa-facebook-square"></i> · 426</button>
            </li>
        </ul>
    </div>
</div>
 -->
 <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 <script type="text/javascript">



   var geojs=<%-diss%>;
   var map = L.map('mapid').setView([44.755113, -63.320488], 9);
   var tiles = L.tileLayer('http://{s}.tiles.wmflabs.org/bw-mapnik/{z}/{x}/{y}.png', {
 	attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
   }).addTo(map);
   
  
  var editableLayers = new L.FeatureGroup();
  map.addLayer(editableLayers);
  var drawPluginOptions = {
    position: 'topright',
    draw: {
      polygon: {
        allowIntersection: false, // Restricts shapes to simple polygons
        drawError: {
          color: '#e1e100', // Color the shape will turn when intersects
          message: '<strong>Oh snap!<strong> you can\'t draw that!' // Message that will show when intersect
        },
        shapeOptions: {
          color: '#97009c'
        }
      },
      // disable toolbar item by setting it to false
      polyline: false,
      circle: false, // Turns off this drawing tool
      rectangle: true,
      marker: false,
      },
    edit: {
      featureGroup: editableLayers, //REQUIRED!!
      remove: false
    }
  };

  // Initialise the draw control and pass it the FeatureGroup of editable layers
  var drawControl = new L.Control.Draw(drawPluginOptions);
  map.addControl(drawControl);

  
  
  var layer;
  var xhr;
  map.on('draw:created', function(e) {
    var type = e.layerType;
      layer = e.layer;
    if (type === 'marker') {
      layer.bindPopup('A popup!');
    }

    var popup = L.popup({minWidth:300,maxHeight:500}).setContent("<div class=\"pop\" id=\"bndPop\"></div>");
    layer.bindPopup(popup).openPopup();
    
    editableLayers.addLayer(layer);

    console.log(layer.toGeoJSON());
    
    var param = layer.toGeoJSON();

    xhr = $.get('/boundCollec',param,(resultCollec)=>{

          console.log(resultCollec)

          var trace4 = {
                          type: 'bar',
                          x: resultCollec['X'],
                          y: resultCollec['Y'],
                          marker: {
                              color: '#C8A2C8',
                              line: {
                                  width: 2.5
                              }
                          }
                      };

          var data4 = [ trace4 ];

          

          editableLayers.on('click',(e)=>{
                   console.log(e)
                  //  editableLayers.removeLayer(layer);
                  Plotly.newPlot("bndPop", data4,{responsive:true});
              })
          editableLayers.on('dblclick',(e)=>{
                console.log(e)
                editableLayers.removeLayer(layer);
              // Plotly.newPlot("bndPop", data4,{responsive:true});
          })

    });

    
    
  });
   

   var style= (feature) => {
         return {
             weight:0.5,
             opacity:1

         };

   }
   var geoLayer = L.geoJSON(geojs,{style:style}).addTo(map);
   var layerGroup = L.layerGroup().addTo(map);

   var getColor = (val) => {
       return val>=0 && val < 5 ? '#08519c':
              val>=5 && val <10  ? '#fcbba1':
                                   '#99000d';

 };

 var getColor2 = (val) => {
     return val<-1.75 && val >=-2? '#f7f4f9':
            val<-1.5 && val >= -1.75 ? '#e7e1ef':
            val<-1 && val >= -1.5 ? '#d4b9da':
            val<0 && val >= -0.5 ? '#c994c7':
            val>=0 && val <= 0.25 ? '#df65b0':
            val>=0.25   &&  val >=0.5 ? '#e7298a':
            val<0.5 && val >=1 ? '#ce1256':
            val>=1 && val < 1.5 ? '#980043':
                                     '#67001f'

 };
 var res;
 var processor2 = (year) => {

    alert(res);
 }
 var setter2 = (rtemp) => {
      //  res=[];
      //  //res.push(["2007"]);
      //  for(var k=0;k<rtemp.length;k++){

      //       res.push(rtemp[k]);
      //  }
     //console.log(res);

    processor(rtemp);
    //processString();


 }

 var processString = () => {


   //d3.selectAll(".chart").select("svg").remove();
   var parameters = {param: res};

   $.get('/stringer',parameters,(result) => {
           d3.selectAll("#chart").select("svg").remove();
           chart1("/data/data2.csv", "orange");

           var datearray = [];
           var colorrange = [];


           function chart1(csvpath, color) {

           if (color == "blue") {
           colorrange = ["#045A8D", "#2B8CBE", "#74A9CF", "#A6BDDB", "#D0D1E6", "#F1EEF6"];
           }
           else if (color == "pink") {
           colorrange = ["#980043", "#DD1C77", "#DF65B0", "#C994C7", "#D4B9DA", "#F1EEF6"];
           }
           else if (color == "orange") {
           colorrange = ["#B30000", "#E34A33", "#FC8D59", "#FDBB84", "#FDD49E", "#FEF0D9"];
           }
           strokecolor = colorrange[0];

           var format = d3.time.format("%m/%d/%y");

           var margin = {top: 20, right: 40, bottom: 30, left: 30};
           var width = 1437 - margin.left - margin.right;
           var height = 427 - margin.top - margin.bottom;

           var tooltip = d3.select("#chart")
           .append("div")
           .html('test')
           .attr("class", "tooltip")
            .style("position", "absolute")
            .style("z-index", "20")
            .style("visibility", "visible")
            .style("top", "30px")
            .style("left", "55px")
           // .style("position", "absolute")
           // .style("z-index", "20")
           // .style("visibility", "hidden")
           // .style("top", "30px")
           // .style("left", "55px");

           var x = d3.time.scale()
           .range([0, width]);

           var y = d3.scale.linear()
           .range([height-10, 0]);

           var z = d3.scale.ordinal()
           .range(colorrange);

           var xAxis = d3.svg.axis()
           .scale(x)
           .orient("bottom")
           .ticks(d3.time.year);

           var yAxis = d3.svg.axis()
           .scale(y);

           var yAxisr = d3.svg.axis()
           .scale(y);

           var stack = d3.layout.stack()
           .offset("silhouette")
           .values(function(d) { return d.values; })
           .x(function(d) { return d.date; })
           .y(function(d) { return d.value; });

           var nest = d3.nest()
           .key(function(d) { return d.key; });

           var area = d3.svg.area()
           .interpolate("cardinal")
           .x(function(d) { return x(d.date); })
           .y0(function(d) { return y(d.y0); })
           .y1(function(d) { return y(d.y0 + d.y); });

           var svg = d3.select("#chart").append("svg")
           .attr("width", width + margin.left + margin.right)
           .attr("height", height + margin.top + margin.bottom)
           .append("g")
           .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

           var graph = d3.csv(csvpath, function(data) {
           data.forEach(function(d) {
           d.date = format.parse(d.date);
           d.value = +d.value;
           });

           var layers = stack(nest.entries(data));

           x.domain(d3.extent(data, function(d) { return d.date; }));
           y.domain([d3.min(data, function(d) { return d.y0 + d.y-0.3; }), d3.max(data, function(d) { return d.y0 + d.y+0.3; })]);

           svg.selectAll(".layer")
           .data(layers)
           .enter().append("path")
           .attr("class", "layer")
           .attr("d", function(d) { return area(d.values); })
           .style("fill", function(d, i) { return z(i); });



           svg.append("g")
           .attr("class", "x axis")
           .attr("transform", "translate(0," + height + ")")
           .call(xAxis);

           svg.append("g")
           .attr("class", "y axis")
           .attr("transform", "translate(" + width + ", 0)")
           .call(yAxis.orient("right"));

           svg.append("g")
           .attr("class", "y axis")
           .call(yAxis.orient("left"));

           svg.selectAll(".layer")
           .attr("opacity", 1)
           .on("mouseover", function(d, i) {
           svg.selectAll(".layer").transition()
           .duration(250)
           .attr("opacity", function(d, j) {
           return j != i ? 0.6 : 1;
           })})

           .on("mousemove", function(d, i) {
           mousex = d3.mouse(this);
           mousex = mousex[0];
           var invertedx = x.invert(mousex);
           invertedx = invertedx.getMonth() + invertedx.getDate();
           var selected = (d.values);
           for (var k = 0; k < selected.length; k++) {
           datearray[k] = selected[k].date
           datearray[k] = datearray[k].getMonth() + datearray[k].getDate();
           }

           mousedate = datearray.indexOf(invertedx);
           pro = d.key;

           d3.select(this)
           .classed("hover", true)
           .attr("stroke", strokecolor)
           .attr("stroke-width", "0.5px"),
           tooltip.transition()
                  .duration(100)
                  .style("opacity", 1);
           tooltip.html( "<p>" + d.key + "</p>" ).style("visibility", "visible");
           // tooltip.html("<p>"+ d.key +"</p>")
           //         .style("position","absolute")
           //        .style("left", "200px")
           //        .style("top", (d3.event.pageY - 28) + "px").style("visibility", "visible");

           })
           .on("mouseout", function(d, i) {
             svg.selectAll(".layer")
             .transition()
             .duration(250)
             .attr("opacity", "1");
             d3.select(this)
             .classed("hover", false)
             .attr("stroke-width", "0px"), tooltip.transition().duration(500).style("opacity",0);
           })

           var vertical = d3.select("#chart")
           .append("div")
           .attr("class", "remove")
           .style("position", "absolute")
           .style("z-index", "19")
           .style("width", "1px")
           .style("height", "380px")
           .style("top", "10px")
           .style("bottom", "30px")
           .style("left", "0px")
           .style("background", "#fff");

           d3.select("#chart")
           .on("mousemove", function(){
           mousex = d3.mouse(this);
           mousex = mousex[0] + 5;
           vertical.style("left", mousex + "px" )})
           .on("mouseover", function(){
           mousex = d3.mouse(this);
           mousex = mousex[0] + 5;
           vertical.style("left", mousex + "px")});
           });
           }
    });

 }
  var processor= (resTemp)=>{
      //alert(year);
      res=resTemp
      //var value = $(window).height();
      //alert(",,,,",value);
     //   res=[];
     //   res.push(year);
     //   $("input:checked").each(function(){
     //        res.push($(this).val());
     //     });
     // console.log(res);

     var parameters = {param: res};
     //alert("it has been changed"+$('#selecter').val());
     $.get('/getter',parameters,(resul)=>{
          d3.selectAll("#chart").select("svg").remove();
         //alert(result);
         //var markers = L.markerClusterGroup();
         //layerGroup.clearLayers();
         var result=resul['resu2'];
         var data=resul['sums'];
         console.log(data);
         //console.log(dat1);

         map.removeLayer(geoLayer);

         var counter=0

         function checker(checkDAUID){

          var trace3 = {
                          type: 'bar',
                          x: ['A', 'B', 'V', 'D'],
                          y: [5, -4, 200, 0],
                          marker: {
                              color: '#C8A2C8',
                              line: {
                                  width: 2.5
                              }
                          }
                      };

          var data3 = [ trace3 ];
          console.log(checkDAUID)
          var checkData=resul['sums']
          console.log(checkData.length)
          for(var i=0;i<checkData.length;i++){
                 //console.log(data[i].DAUID,checkDAUID)
                 if(checkData[i].DAUID==checkDAUID)
                 {
                     console.log(checkData[i])

                     var trace2 = {
                          type: 'bar',
                          x: checkData[i].X,
                          y: checkData[i].Y,
                          marker: {
                              color: '#C8A2C8',
                              line: {
                                  width: 2.5
                              }
                          }
                      };

                    var data1 = [ trace2 ];
                    return data1;
                 }
             }
            return data3;
         }

         function onEachFeature(feature,layer){

              
              var trace1 = {
                  type: 'bar',
                  x: ['A', 'B', 'V', 'D'],
                  y: [5, -4, 200, 0],
                  marker: {
                      color: '#C8A2C8',
                      line: {
                          width: 2.5
                      }
                  }
              };

              var data = [ trace1 ];

              
              var t="layer"+(counter)
              var countF=feature.properties.DAUID
              var popup = L.popup({minWidth:300,maxHeight:500}).setContent("<div class=\"pops\" id=\"myPop"+countF+"\"></div>");
              layer.bindPopup(popup).openPopup();
              var s="myPop"+counter;
              //Plotly.newPlot(s, data, layout,{responsive:true});
              counter=counter+1

              layer.on('click',(e)=>{
                   console.log(e)
                   var data1=checker(feature.properties.DAUID)
                   var countnF=feature.properties.DAUID
                   console.log(feature.properties.DAUID)
                   console.log(e.target.getPopup().getContent())
                   var re=e.target.getPopup().getContent()
                   
                   Plotly.newPlot("myPop"+countnF, data1,{responsive:true});
              })
         }

         geoLayer=L.geoJSON(geojs,{style: style,onEachFeature: onEachFeature}).addTo(map);




         
         var keys=Object.keys(result);

         keys.forEach((key)=>{

               

               geoLayer.eachLayer(function (layer) {
               if(layer.feature.properties["DAUID"] == key) {
                 layer.setStyle({fillColor : getColor2(result[key]) ,color:getColor2(result[key]),opacity:1,fillOpacity:0.3,weight:1})
                 
                 }
               });
         });

         function type(d) {
             d["Index"]=+d["Index"]
             d["DAUID"]=d["DAUID"]
             return d
         }
         d3.selectAll("#chart").select("svg").remove();
         //d3.csv("/data/indexdata3.csv",type, function(error,data){
          //   if(error) throw err;
        //console.log("in");

        var tooltip2 = d3.select("body")
        .append("div")
        .attr("class", "tooltip2")
        .html('test')
        .style("opacity",1);
         //})
         //sort bars based on value
         data = data.sort(function (a, b) {
             return d3.ascending(a.Index, b.Index);
         })

         //set up svg using margin conventions - we'll need plenty of room on the left for labels
         var margin = {
             top: 15,
             right: 25,
             bottom: 15,
             left: 60
         };

         var width = 1390 - margin.left - margin.right,
             height = 400 - margin.top - margin.bottom;

         var svg = d3.select("#chart").append("svg")
             .attr("width", width + margin.left + margin.right)
             .attr("height", height + margin.top + margin.bottom)
             .append("g")
             .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

         var y = d3.scale.linear()
             .range([height, 0])
             .domain([-2, d3.max(data, function (d) {
                 return d.Index;
             })]);

         var x = d3.scale.ordinal()
             .rangeRoundBands([0, width], .1)
             .domain(data.map(function (d) {
                 return d.DAUID;
             }));

         //make y axis to show bar names
         // var yAxis = d3.svg.axis()
         //     .scale(y)
         //     //no tick marks
         //     .tickSize(0)
         //     .orient("left");

      //    // var gy = svg.append("g")
      //    //     .attr("class", "y axis")
      //    //     .call(yAxis)

         var bars = svg.selectAll(".bar")
             .data(data)
             .enter()
             .append("g")

         //append rects
         bars.append("rect")
             .attr("class", "bar")
             .style("fill",function(d){return '#dd1c77';})
             .attr("y", function (d) {
                 return y(d.Index);
             })
             .attr("height", function(d) { return height - y(d.Index);} )
             .attr("x", function(d){return x(d.DAUID)})
             .attr("width", function (d) {
                 return x.rangeBand();
             })
             .on("mouseover", function(d) {
                       tooltip2.transition()
                           .duration(0)
                           .style("opacity", .9);
                           tooltip2.html("<p>" + d.DAUID +"</p>")
                           .style("left", (d3.event.pageX) + "px")
                           .style("top", (d3.event.pageY - 28) + "px").style("visibility", "visible");

                           geoLayer.eachLayer(function (layer) {
                             if(layer.feature.properties["DAUID"] == d.DAUID) {
                               layer.setStyle({opacity:1,fillOpacity:0.6,weight:6});
                               
                             }
                           });

                       })
               .on("mouseleave", function(d) {
                   tooltip2.transition()
                       .duration(500)
                       .style("opacity", 0);

                       geoLayer.eachLayer(function (layer) {

                         layer.setStyle({opacity:1,fillOpacity:0.3,weight:1})
                        

                       });
               });


             bars.append("text")
            .attr("text-anchor", "middle")  // this makes it easy to centre the text as the transform is applied to the anchor
            .attr("transform", "translate("+ (0) +","+(height/2)+")rotate(-90)")  // text is drawn off the screen top left, move down and out and rotate
            .text("DAUID");

            
            bars.append("text")
            .attr("text-anchor", "middle")  // this makes it easy to centre the text as the transform is applied to the anchor
            .attr("transform", "translate("+ (width/2) +","+(height+14)+")")  // centre below axis
            .text("Rank");



   

  });
 };
   
 </script>
</body>
<!--   Core JS Files   -->
<!-- <script src="/assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script> -->
<!-- <script src="/assets/js/core/popper.min.js" type="text/javascript"></script> -->
<!-- <script src="/assets/js/core/bootstrap.min.js" type="text/javascript"></script> -->
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<!-- <script src="/assets/js/plugins/bootstrap-switch.js"></script> -->
<!--  Google Maps Plugin    -->
<!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
<!--  Chartist Plugin  -->
<!-- <script src="/assets/js/plugins/chartist.min.js"></script> -->
<!--  Notifications Plugin    -->
<!-- <script src="/assets/js/plugins/bootstrap-notify.js"></script> -->
<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<!-- <script src="/assets/js/light-bootstrap-dashboard.js?v=2.0.0 " type="text/javascript"></script> -->
<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<!-- <script src="/assets/js/demo.js"></script> -->

</html>
